<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Username</th>
    <th>Pin</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id   %></td>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= user.pin %></td>
      <td><%= link_to 'Show', user, class: "btn btn-secondary" %></td>
      <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning" %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'დარწმუნებული ხარ ?' }, class: "btn btn-danger"%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-success" %>
